{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if app.user %}
        <h1>Mon panier</h1>
        {% if   not achats %}
            <h3>Vous n'avez pas encore d'achats</h3>
            {#Ajouter un lien vers le catalogue pour réaliser les achats#}
            {% else %}
            {% for achat in achats %}
            <li>{{ achat.codeAchat }}</li>
            <li>{{ achat.codeEnregistrement }}</li>
            {% endfor %}
                {% endif %}
    {% else %}
        <p>Veuillez vous identifier afin d'accéder à votre panier. </p>
    {% endif %}
</div>
{% endblock %}
